{% extends "../base.html" %}
{% block content %}
{% include 'navbar_user.html' %}
{% load static %}

<main class="content container nav_only_article">
  {% include 'articles/article.html' %}

  <form class="row form_comments" action="" method="post" id="form_comment">
    {% csrf_token %}
    <div class="col-9"><input type="text" class="input_comment" placeholder="Commentaire..."></div>
    <div class="col-3"><button class="button_comments" id="button_comments"><i class="far fa-paper-plane"></i></button></div>
  </form>

  <section class="place_comment">
    <div class="box_comment"></div>
  </section>
  <script type="module" src="{% static '/js/main_article_only.js' %}"></script>
</main>
{% include 'navbar_mobile_user.html' %}
{% endblock %}
