{% load static %}
<section class="content_user_articles">
    <article class="post_user">
      <div class="row box_pseudo_date">
        <img src="{% static '/assets/img/user-default.png' %}" class="col-4 image_user_article" alt="">
        <div class="col-7">
          <div class="pseudo_comments">Pseudo</div>
          <div class="date_comments">11/02/2020</div>
        </div>
      </div>
      <div class="title_post">Titre de l'article</div><br>

      <div class="content_post">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</div>

      <div class="row like_user">
          <div class="col-3 love"><i class="fas fa-heart"></i> 0</div>
          <div class="col-3 like"><i class="fas fa-thumbs-up"></i> 0</div>
          <div class="col-3 dislike"><i class="fas fa-thumbs-down"></i> 0</div>
          <div class="col-3 fuck_like"><i class="fas fa-hand-middle-finger"></i> 0</div>
      </div>
    </article>
</section>