{% load static %}
<section class="menu_mobile">
  <a href="/user/search" class="button_user"><i class="fas fa-search"></i></a>
  <a href="/user/myaccount/{{user.id}}" class="button_user"><i class="fas fa-user"></i></a>
  <a href="/articles" class="button_user"><i class="fas fa-newspaper"></i></a>
  <a href="/user/notifications" class="button_user button_notification" id="button_notif">
    <div class="nbs_notif"></div>
    <i class="fas fa-bell"></i>
  </a>
  <script type="module" src="{% static '/js/main_navbar.js' %}"></script>
</section>
