{% extends "../base.html" %}
{% block content %}
{% include 'navbar_home.html' %}
{% load static %}

<div class="content">
  <main>
    <article class="">
      <section class="registrer">
        <div class="container">
          <div class="row box_registrer">
            <div class="col-sm-12 col-md-6 text_registrer">
              <img class="image_home" src="{% static '/assets/img/image_home.svg' %}" alt="">
            </div>
            <div class="col-sm-12 col-md-6 box_form_registrer">
              <form class="form_registrer" action="" method="post">
                {% csrf_token %}
                <div class="title_registrer">Inscription</div>
                {{ form.username }}<br>
                {{ form.email }}<br>
                {{ form.password1 }}<br>
                {{ form.password2 }}<br>
                <button type="submit" class="button_registrer">Inscription</button>

              </form>
            </div>
          </div>

        </div>

      </section>

    </article>
    {% include 'navbar_mobile_home.html' %}

  </main>
</div>
{% endblock %}
