{% extends "../base.html" %}
{% block content %}
{% include 'navbar_home.html' %}
{% load static %}

<div class="content">
  <main>
    <article class="">
      <section class="registrer">
        <div class="container">
          <div class="row box_registrer">
            <div class="col-sm-12 col-md-6 text_registrer">
              <img class="image_home" src="{% static '/assets/img/image_home.svg' %}" alt="">
            </div>
            <div class="col-sm-12 col-md-6 box_form_registrer">
              <form class="form_registrer" action="" method="post">
                {% csrf_token %}
                <div class="title_registrer">Registration</div>
                {{ form.username }}<br>
                {{ form.email }}<br>
                {{ form.password1 }}<br>
                {{ form.password2 }}<br>
                {{ form.errors }}
                <button type="submit" class="button_registrer">Registration</button>

              </form>
            </div>
          </div>
        </div>

      </section>

      <div class="container_banner_cookie fixed_banner">
        <div class="container ">
          <div class="row">
            <div class="col-8 banner_cookies">By continuing your navigation on this site, you accept the use of Cookies, <a href="" class="learn_more_cookies">to learn more.</a></div>
            <div class="col-4 button_accept_cookies">
              <div class="btn_cookie">OK</div>
            </div>
          </div>
        </div>
      </div>
    
    </article>
    {% include 'navbar_mobile_home.html' %}
    <script src="{% static 'js/main_home.js' %}"></script>

  </main>
</div>
{% endblock %}
