{% extends "base.html" %}
{% block content %}
{% include 'navbar_home.html' %}
{% load static %}
<main class="content">
  <div class="container box_connexion">
    <form class="form_connexion" action="" method="post">
        <div class="title_connexion">Login</div>
        {% csrf_token %}
        {{ form.username }}<br/>
        {{ form.password }}<br/>
        {{ form.errors }}
        <button type="submit" class="button_connexion">Login</button>
    </form>
  </div>

  {% include 'navbar_mobile_home.html' %}

  
</main>
{% endblock %}
