{% extends "../base.html" %}
{% block content %}
{% include 'navbar_user.html' %}

<main class="content">

    <div class="container element">
      <section class="content_user_account">
        <a class="cog_account" href="/user/account/1/parameter"><i class="fas fa-cog"></i></a>
        {% load static %}
        {% static '/assets/img/' as img_url %}
        <img class="image_user" src="{{img_url }}{{user.image_profile}}" alt=""><br>
        <span class="name_user">{{user.username}} <i class="fas fa-check-square"></i></span>

        <div class="row info_user">
          <div class="col-4 text_info">
          <span id="nbs_follows">{{ nbs_follow }}</span>
          <div class="text_follow_like">Follow</div>
        </div>
        {% if current_sub == 1 %}
          <div class="col-4 follow_button already_follow">Followed</div>
        {% else %}
        <div class="col-4 follow_button">Follow</div>
        {% endif %}
          <div class="col-4 text_info">{{ nbs_gold_like }} <div class="text_follow_like">Gold like</div></div>
        </div>
      </section>

      <section id="place_article">

      </section>
    </div>

    <script src="{% static '/js/main_account.js' %}" type="module"></script>
    {% include 'navbar_mobile_user.html' %}


  </main>





{% endblock %}
