{% extends "../base.html" %}
{% block content %}
{% include 'navbar_user.html' %}

<main class="content">

    <div class="container element">
      <section class="content_user_account">
        <a class="cog_account" href="/user/account/1/parameter"><i class="fas fa-cog"></i></a>
        {% load static %}
        <img class="image_user" src="{% static '/assets/img/user-default.png' %}" alt=""><br>
        <span class="name_user">Pseudo <i class="fas fa-check-square"></i></span>

        <div class="row info_user">
          <div class="col-4 text_info">6 <div class="text_follow_like">Abonné(s)</div></div>
          <div class="col-4 follow_button">S'abonner</div>
          <div class="col-4 text_info">6 <div class="text_follow_like">Gold like(s)</div></div>
        </div>
      </section>

      {% include 'articles/article.html' %}


    </div>
      {% include 'navbar_mobile_user.html' %}


  </main>





{% endblock %}
