{% extends "../base.html" %}
{% block content %}
{% include 'navbar_user.html' %}

<main class="content">
    <div class="container">

        <form action="" method="post" enctype="multipart/form-data" id="img_user" class="form_parameter">
            {% csrf_token %}
            <div class="container_import_pic">
                {% load static %}
                {% static '/assets/img/' as path_img %}
                <img class="image_user_change_pic" src="{{path_img}}{{user.image_profile}}" alt=""><br>
                    <div class="box_button_import">
                        {{ form.image_profile }}
                        <label for="file" class="button_import_pic">{{form.image_profile.label | safe}}</label>
                    </div>
            </div>
            
            <div class="container_change_button">
                <input type="submit" name="" id="" class="button_change_photo" value="Change">
            </div>


        </form>

        <section class="button_logout"></section>
            <a href="/user/logout"><div class="btn_logout">Logout</div></a>
        </section>
    </div>


    <script type="module" src="{% static '/js/main_parameter_account.js' %}"></script>
    {% include 'navbar_mobile_user.html' %}
</main>

{% endblock %}