{% extends "../base.html" %}
{% block content %}
{% include 'navbar_user.html' %}

<main class="content">
    <div class="container">

        <form action="" method="post" enctype="multipart/form-data" id="img_user">
            {% csrf_token %}
            <div class="container_import_pic">
                {% load static %}
                {% static '/assets/img/' as path_img %}
                <img class="image_user_change_pic" src="{{path_img}}{{user.image_profile}}" alt=""><br>
                    <div class="box_button_import">
                        {{ form.image_profile }}
                        <label for="file" class="button_import_pic">{{form.image_profile.label | safe}}</label>
                    </div>
            </div>
            
            <div class="container_change_button">
                <input type="submit" name="" id="" class="button_change_photo" value="Change">
            </div>


        </form>

        <section class="container_change_pseudo">
            <form action="" class="row form_change_pseudo" method="post">
                {% csrf_token %}
                <input type="text" placeholder=" Pseudo" class="col-8 input_change_pseudo">
                <input type="submit" name="" id="" class="col-4 button_change_pseudo">
            </form>
        </section>
    </div>


    <script type="module" src="{% static '/js/main_parameter_account.js' %}"></script>
    {% include 'navbar_mobile_user.html' %}
</main>

{% endblock %}