{% extends "../base.html" %}
{% block content %}
{% include 'navbar_user.html' %}
{% load static %}

<main class="content">
  <div class="container">
    <form action="" class="form_search_user" id="searchUser">
      <input type="text" class="col-12 input_search_user" id="InsearchUser" placeholder="Rechercher">
    </form>

    <section>
      <div class="row box_research_user" id="PlaceUser">

    </section>
  </div>
  <script type="module" src="{% static '/js/main_search_user.js' %}"></script>

  {% include 'navbar_mobile_user.html' %}

</main>
{% endblock %}
